[Unit]
Description=Sabnzbd (quadlet)

[Container]
Image=ghcr.io/hotio/sabnzbd:latest
ContainerName=sabnzbd

#flag for autoupdates
Label=io.containers.autoupdate=registry

Network=proxy.network

EnvironmentFile=sab.env

Volume=/etc/localtime:/etc/localtime:ro
Volume=/mnt/data/sabnzbd/config:/config
Volume=/mnt/media:/media

AddCapability=NET_ADMIN

Sysctl=net.ipv4.conf.all.src_valid_mark=1
Sysctl=net.ipv6.conf.all.disable_ipv6=1

# Health check
HealthCmd=curl -f http://localhost:8080/api || exit 1
HealthInterval=30s
HealthRetries=3
HealthStartPeriod=60s
HealthTimeout=10s

[Unit]
Requires=var-mnt-media.mount

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target