[Unit]
Description=Media mount
After=network-online.target
Wants=network-online.target

[Mount]
What=10.1.0.32:/var/nfs/shared/Media
Where=/var/mnt/media
Type=nfs
Options=_netdev,auto,vers=3,rsize=1048576,wsize=1048576,actimeo=600,lookupcache=positive,noatime,hard

[Install]
WantedBy=multi-user.target
