[Unit]
Description=Media mount
After=network.target

[Mount]
What=10.1.0.32:/var/nfs/shared/Media
Where=/var/mnt/media
Type=nfs
Options=_netdev,auto

[Install]
WantedBy=multi-user.target
