[Unit]
Description=httpd container quadlet file

[Container]
Image=docker.io/httpd:latest
ContainerName=httpd-Quadlet
PublishPort=8000:80

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target