[Unit]
Description=Plex Container
After=podman.service var-mnt-media.mount
Requires=podman.service var-mnt-media.mount

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/podman stop plex
ExecStartPre=-/usr/bin/podman rm plex
# renovate: datasource=docker depName=lscr.io/linuxserver/plex
ExecStartPre=/usr/bin/podman pull ghcr.io/linuxserver/plex:1.40.4.8679-424562606-ls225@sha256:800e198f7216cf98b9fd11a4ad0aa1cae26cc516186b7fc1500b75893b3e57a1
ExecStart=/usr/bin/podman run --rm --name --gpus all plex \
		-e PUID=1000 \
		-e GUID=1000 \
		-e UMASK=002 \
		-e TZ=Europe/Berlin \
		-e VERSION=docker \
		-p 32400:32400 \
    -p 1900:1900/udp \
    -p 5353:5353/udp \
    -p 8324:8324 \
    -p 32410:32410/udp \
    -p 32412:32412/udp \
    -p 32413:32413/udp \
    -p 32414:32414/udp \
    -p 32469:32469 \
		--device=/dev/dri:/dev/dri \
		--device=/dev/dvb:/dev/dvb \
		-v=config:/config \
		-v=/mnt/media/media:/data \
		-v=transcode:/transcode \
		# renovate: datasource=docker depName=lscr.io/linuxserver/plex \
		ghcr.io/linuxserver/plex:1.40.4.8679-424562606-ls225@sha256:800e198f7216cf98b9fd11a4ad0aa1cae26cc516186b7fc1500b75893b3e57a1

[Install]
WantedBy=multi-user.target
