[Unit]
Description=Prowlarr (quadlet)

[Container]
Image=lscr.io/linuxserver/prowlarr:latest
ContainerName=prowlarr

#flag for autoupdates
Label=io.containers.autoupdate=registry

Network=proxy.network

PublishPort=9696:9696

Volume=/etc/localtime:/etc/localtime:ro
Volume=/mnt/data/prowlarr/config:/config

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target