[Unit]
Description=QBittorrent (quadlet)

[Container]
Image=ghcr.io/hotio/qbittorrent:latest
ContainerName=qbittorrent

#flag for autoupdates
Label=io.containers.autoupdate=registry

Network=proxy.network

EnvironmentFile=qbittorrent.env

PublishPort=8088:8080
PublishPort=6881:6881
PublishPort=6881:6881/udp

Volume=/etc/localtime:/etc/localtime:ro
Volume=/mnt/data/qbittorrent/config:/config
Volume=/mnt/media:/audiobooks

AddCapability=NET_ADMIN

Sysctl=net.ipv4.conf.all.src_valid_mark=1
Sysctl=net.ipv6.conf.all.disable_ipv6=1

[Unit]
Requires=var-mnt-media.mount

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target