[Unit]
Description=Radarr (quadlet)

[Container]
Image=lscr.io/linuxserver/radarr:latest
ContainerName=radarr

#flag for autoupdates
Label=io.containers.autoupdate=registry

Network=proxy.network

PublishPort=7878:7878

Volume=/etc/localtime:/etc/localtime:ro
Volume=/mnt/data/radarr/config:/config
Volume=/mnt/media:/media

# Health check
HealthCmd=curl -f http://localhost:7878/api/v3/health || exit 1
HealthInterval=30s
HealthRetries=3
HealthStartPeriod=60s
HealthTimeout=10s

[Unit]
Requires=var-mnt-media.mount

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target