[Unit]
Description=Sonarr (quadlet)

[Container]
Image=lscr.io/linuxserver/sonarr:latest
ContainerName=sonarr

#flag for autoupdates
Label=io.containers.autoupdate=registry

Network=proxy.network

PublishPort=8989:8989

Volume=/etc/localtime:/etc/localtime:ro
Volume=/mnt/data/sonarr/config:/config
Volume=/mnt/media:/media

# Health check
HealthCmd=curl -f http://localhost:8989/api/v3/health || exit 1
HealthInterval=30s
HealthRetries=3
HealthStartPeriod=60s
HealthTimeout=10s

[Unit]
Requires=var-mnt-media.mount

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target