[Unit]
Description=Sonarr (quadlet)

[Container]
Image=lscr.io/linuxserver/sonarr:latest
ContainerName=sonarr

#flag for autoupdates
Label=io.containers.autoupdate=registry

Network=proxy.network

PublishPort=8989:8989

Volume=/etc/localtime:/etc/localtime:ro
Volume=sonarr-config:/config
Volume=/mnt/media:/media

[Unit]
Requires=var-mnt-media.mount

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target